.container
  %h2.font-weight-bold
    = resource_class.model_name.human.pluralize
  %ul.list-group
    - if can? :create, pr = PolicyManager::PortabilityRequest.new(owner: User.current_user)
      %li.list-group-item
        = button_to 'new', portability_requests_path
    - @portability_requests.each do |p|
      %li.list-group-item
        = link_to p.id, p.attachement_url

