.nested-fields.list-group-item
  = f.input :locale, as: :select, collection: I18n.available_locales
  = f.input :title
  ~ f.input :content, as: :marked
  = link_to_remove_association t('.remove_translation'), f, class: 'text-danger'
